<div class="content cont2">
	<div class="container_12">
		<div class="grid_12">
			<h2 class="mb0">Find Us</h2>
		</div>
	</div>
</div>
<div class="gray_block gb1">
	<div class="container_12">
		<div class="grid_4">
			<h2 class="head1">Address</h2>
			<address>
				<dl>
					<dt>M.K Palace <br>
						Faridkot chowk, Moga road,<br>
						Ferozepur Cantt.
					</dt>
					<br>
				  <dt>Head Office: <br>
            T20 Energy Drinks USA, L.L.C<br>
            6221 West Atlantic Boulvard,<br>
            Margate FL 33063,<br>
            UNITED STATES OF AMERICA
          </dt>
					<dd><span>Office:</span>+9197792-62897</dd>
					<dd><span>FAX:</span>+911632-2210444</dd>
					<br>
					<dd><span>Mobile:</span></dd>
					<dd><span>Shamsher Singh:</span> +9194172-00004</dd>
					<dd><span>Gurbaksh Singh:</span> +9194638-00045</dd>
					<dd><span>G.S Randhawa:</span> +9188729-21611</dd>
					<br>
					<dd><span>USA:</span></dd>
					<dd><span>Arwind Singh:</span>+1778-891-2357</dd>
					<br>
					<dd><span>E-mail:</span><a href="#">T20drinks.india@gmail.com</a></dd>
				</dl>
			</address>
		</div>
		<div class="grid_8">
			<h2 class="head1">Contact Form</h2>
      <%= render "welcome/flash"%>
			<%= form_tag contact_form_welcome_index_url, :method => :post do |f|%>
				<div class="form-body">
				  <div class="row">
            <div class="form-group col-md-4">
              <label for="exampleInputEmail1">Name</label>
              <%= text_field_tag :name, "", class: "form-control", autofocus: true, required: true, :style => "margin-bottom: 15px;"%>
            </div>
            <div class="form-group col-md-4">
              <label for="exampleInputEmail1">Email:</label>
              <%= text_field_tag :email, "", :class => "form-control", :style => "margin-bottom: 15px;"%>
            </div>
            <div class="form-group col-md-4">
              <label for="exampleInputEmail1">Phone:</label>
              <%= text_field_tag :phone, "",:class => "form-control", :style => "margin-bottom: 15px;"%>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Message:</label>
            <%= text_area_tag :message, "", :class => "form-control", style: "height: 50%;"%>
          </div>
        </div>
				<div>
					<div class="clear"></div>
					<div class="btns">
						<%= submit_tag 'Send', class: 'btn btn-success' %>
					</div>
				</div>
			<%end%>
		</div>
	</div>
</div>