<div class="slider_wrapper">
  <div id="camera_wrap" class="">
  	<%Photo.all.each do |pho|%>
  	  <div data-src="<%=pho.try(:avatar).try(:url)%>"></div>
  	<% end %>
  </div>
</div>
<div class="container_12">
  <div class="grid_12">
    <div class="slogan">
      Our Ideas Will Raise Your Business Above the Expected <br><br>
      <%=render "member_form"%>
      <%=render "distribution_form"%>
    </div>
  </div>
</div>
<div class="container_12">
  <div class="container_3">
  </div>
  <div class="container_6">
    <section class="grid" id="grid" style="margin-left: 25%;">
      <a href="#" data-toggle="modal" data-target="#distributionModel" data-whatever="@mdo" data-path-hover="m 180,70.57627 -180,0 L 0,0 180,0 z">
        <figure>
          <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,262 0,0 180,0 z"/></svg>
          <figcaption>
          <div><b>Register as Distributer</b></div>
          </figcaption>
        </figure>
        <span>Join</span>
      </a>
      <a href="#" data-toggle="modal" data-target="#memberModal" data-whatever="@mdo" data-path-hover="m 180,70.57627 -180,0 L 0,0 180,0 z">
        <figure>
          <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,262 0,0 180,0 z"/></svg>
          <figcaption>
            <div><b>Register as Member</b></div>
          </figcaption>
        </figure>
        <span>Join</span>
      </a>
    </section>
  </div>
  <div class="container_3">
  </div>
</div>
<!--==============================Content=================================-->

<div class="gray_block">
  <div class="container_12">
  <% Notification.last(3).each do |noti| %>
    <div class="grid_4">
      <div class="block2">
        <time datetime="2014-01-01"><span class="col1"><%=noti.try(:created_at).try(:day)%></span><%=noti.try(:created_at).try(:strftime, "%B" )%></time>
        <div class="">
          <div class="extra_wrapper">
            <div class="title col1"><a href="#"><%=noti.news%></a></div>
          </div>
        </div>
        <div class="clear"> </div>
        <p><%=noti.message%></p>
        <a href="#" class="col1">read more</a>
      </div>
    </div>
  <% end %>
  </div>
</div>